#add-video{
  .top-action{
    background-image: -moz-linear-gradient( -90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
    background-image: linear-gradient( -90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
    padding: 30px 0 0 0;
    
    .page-heading{
      font-size: 30px;
      color: #151515;
    }
    .breadcrumb{
      background: transparent;
      padding: 0;

      .breadcrumb-item{
        font-size: 16px;
        color: rgba(#151515, 0.5);
      }
    }
  }


  .add-video-form {
    background-image: -moz-linear-gradient( -90deg, rgb(244,245,247) 0%, rgb(250,251,252) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(244,245,247) 0%, rgb(250,251,252) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(244,245,247) 0%, rgb(250,251,252) 100%);
    background-image: linear-gradient( -90deg, rgb(244,245,247) 0%, rgb(250,251,252) 100%);
    padding: 60px 0;

    label{
      font-size: 18px;
      color: #322e46;
      span{
        font-size: 14px;
      }
    }
    .form-control {
      font-size: 18px;
      color: darken(#928fa0, 10);
    }
    .form-control::placeholder{
      font-size: 18px;
      color: #928fa0;
    }
    .form-group span{
      font-size: 14px;
      color: rgba(#8e8e8e, 0.8);

      .span-inner{
        color: rgba(#322e46, 0.8);
      }
    }
    .player-type-image{
      margin-bottom: 30px;
      li{
        display: inline-block;
        padding-right: 20px;
      }
    }
    .btn-primary-rounded{
      font-size: 14px;
      min-width: 110px;
    }

    hr.divider-1 {
      margin: 60px 0 40px 0;
    } 
    hr.divider-2 {
      margin: 40px 0;
    } 
    hr.divider-3 {
      margin: 40px 0;
    } 

    // Drug and drop
    .dropify-wrapper .dropify-message p {
      margin: 5px 0 0;
      font-size: 14px;
    }
    .dropify-font:before, .dropify-wrapper .dropify-message span.file-icon:before, .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon:before, [class*=" dropify-font-"]:before, [class^=dropify-font-]:before{
      color: $primary-color;
    }
    .dropify-wrapper{
      height: 230px;
      border-radius: 10px;
      border: 1px solid #ced4da;
    }

  }

}