.full-nav {
  .container {
    @media(min-width: 1200px){
      max-width: 80%;
    }
  }
  .top-nav {
    background: #040404;
    padding: 7px;
    border-bottom: 1px solid rgba($black-color, 0.5);

    ul{
      text-align: center;
      li{
        padding: 0 7px;
        display: inline-block;
        text-align: center;
        i{
          color: $white-color;
          @include transition_2s;

          &:hover {
            color: $primary-color;
          }
        }
        a {
          font-family: 'Proxima_Nova_Bold';
          font-size: 13px;
          color: $white-color;
          @include transition_2s;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .main-nav {
    background: #181818;

    .navbar-dark .navbar-nav .nav-link {
      color: $white-color;
      font-size: 15px;
      text-transform: uppercase;
      line-height: 2rem;
      @include transition_2s;

      &.active,
      &:hover {
        color: $primary-color;
      }
    }

    .dropdown-item {
      font-size: 14px;
    }
  }
}