@mixin transition_2s {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
@mixin transition_3s {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.btn-primary-rounded {
  font-size: 13px;
  color: $white-color;
  background: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 10px;
  @include transition_2s;
  
  &:hover {
    background: darken($primary-color,5);
    color: $white-color;
  }
}

.btn-outline-rounded{
  font-size: 13px;
  color: #919191;
  background: transparent;
  border: 1px solid #cecece;
  border-radius: 10px;
  @include transition_2s;

  i{
    color: $primary-color;
  }
  
  &:hover {
    background: $primary-color;
    color: $white-color;
    i{
      color: $white-color;
    }
  }
}

.btn-light.btn-lg {
  font-size: 16px;
  color: #a2a2a2;
  border-radius: 0;
  background-color: #fafafa;
  @include transition_2s;
  
  &:hover {
    background: $primary-color;
    color: $white-color;
  }
}

.more-btn{
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(#333, 0.5);
  @include transition_2s;

  &:hover {
    color: $primary-color;
  }
}

#back-top-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: rgba($primary-color, 1);
  color: $white-color;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: -1.414px 1.414px 6px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  @include transition_3s;
}